/* Banner a masthead */
.masthead {
  height: 832px !important;
  min-height: 0 !important;

  &__inner-wrap {
    height: 100%;
    display: flex !important;
    align-items: center;
  }
}

/* Skrytí titulku v post headeru */
.page__header {
  .page__title {
    display: none !important;
  }
}

/* Tlačítko "Číst dále" */
.archive__item-excerpt .btn {
  margin-top: 1em;
  padding: 0.5em 1em;
  border: 2px solid #2b7a78;
  color: #2b7a78 !important;
  
  &:hover {
    background: #2b7a78;
    color: white !important;
  }
}

/* Grid layout */
.grid__wrapper {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 2rem 0;
}

.archive__item-img {
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 8px;
}
